In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/data/insurance.csv")

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
gender      1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [6]:
df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# Common operations

1. info and data types of each column
2. Shape ... number of records and columns
3. Slice ... 
4. Filter 
6. Group .. aggregation
7. Sorting 
8. Join ... merge two datasets (concatenation, join by key)
9. Pivoting

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
gender      1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [15]:
numeric_features = [col for col, dtype in df.dtypes.items() if dtype != "O"] 
categorical_features = [col for col, dtype in df.dtypes.items() if dtype == "O"] 

numeric_features, categorical_features

(['age', 'bmi', 'children', 'charges'], ['gender', 'smoker', 'region'])

In [17]:
df.shape # rows, columns

(1338, 7)

In [18]:
df.shape[0]

1338

In [19]:
type(df.shape)

tuple

In [22]:
df.iloc[:3, :]

   age  gender    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [23]:
df.iloc[-3:, :]

      age  gender    bmi  children smoker     region     charges
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [24]:
df.iloc[-3:, -3:]

     smoker     region     charges
1335     no  southeast   1629.8335
1336     no  southwest   2007.9450
1337    yes  northwest  29141.3603

In [27]:
df.loc[1335:, ["smoker", "region","charges"]]

     smoker     region     charges
1335     no  southeast   1629.8335
1336     no  southwest   2007.9450
1337    yes  northwest  29141.3603

In [28]:
df.loc[:, ["smoker", "region","charges"]].iloc[-3:, :]

     smoker     region     charges
1335     no  southeast   1629.8335
1336     no  southwest   2007.9450
1337    yes  northwest  29141.3603

In [29]:
df.iloc[10:15, :]

    age  gender    bmi  children smoker     region     charges
10   25    male  26.22         0     no  northeast   2721.3208
11   62  female  26.29         0    yes  southeast  27808.7251
12   23    male  34.40         0     no  southwest   1826.8430
13   56  female  39.82         0     no  southeast  11090.7178
14   27    male  42.13         0    yes  southeast  39611.7577

In [30]:
df.loc[10:15, :]

    age  gender    bmi  children smoker     region     charges
10   25    male  26.22         0     no  northeast   2721.3208
11   62  female  26.29         0    yes  southeast  27808.7251
12   23    male  34.40         0     no  southwest   1826.8430
13   56  female  39.82         0     no  southeast  11090.7178
14   27    male  42.13         0    yes  southeast  39611.7577
15   19    male  24.60         1     no  southwest   1837.2370

In [31]:
df[["smoker", "region","charges"]]

     smoker     region      charges
0       yes  southwest  16884.92400
1        no  southeast   1725.55230
2        no  southeast   4449.46200
3        no  northwest  21984.47061
4        no  northwest   3866.85520
5        no  southeast   3756.62160
6        no  southeast   8240.58960
7        no  northwest   7281.50560
8        no  northeast   6406.41070
9        no  northwest  28923.13692
10       no  northeast   2721.32080
11      yes  southeast  27808.72510
12       no  southwest   1826.84300
13       no  southeast  11090.71780
14      yes  southeast  39611.75770
15       no  southwest   1837.23700
16       no  northeast  10797.33620
17       no  northeast   2395.17155
18       no  southwest  10602.38500
19      yes  southwest  36837.46700
20       no  northeast  13228.84695
21       no  southwest   4149.73600
22       no  southeast   1137.01100
23      yes  northeast  37701.87680
24       no  northwest   6203.90175
25       no  southeast  14001.13380
26       no  northeast  14451.83515
27       no  northwest  12268.63225
28       no  northwest   2775.19215
29      yes  southwest  38711.00000
...     ...        ...          ...
1308    yes  southwest  33900.65300
1309     no  southwest   6875.96100
1310     no  northwest   6940.90985
1311     no  northwest   4571.41305
1312     no  southwest   4536.25900
1313    yes  southwest  36397.57600
1314    yes  northwest  18765.87545
1315     no  northeast  11272.33139
1316     no  southwest   1731.67700
1317     no  southeast   1163.46270
1318     no  northeast  19496.71917
1319     no  northwest   7201.70085
1320     no  northwest   5425.02335
1321    yes  northeast  28101.33305
1322     no  southeast  12981.34570
1323    yes  southeast  43896.37630
1324     no  northwest   4239.89265
1325     no  northeast  13143.33665
1326     no  northeast   7050.02130
1327     no  southeast   9377.90470
1328     no  northeast  22395.74424
1329     no  southwest  10325.20600
1330     no  southeast  12629.16560
1331     no  southwest  10795.93733
1332     no  southwest  11411.68500
1333     no  northwest  10600.54830
1334     no  northeast   2205.98080
1335     no  southeast   1629.83350
1336     no  southwest   2007.94500
1337    yes  northwest  29141.36030

[1338 rows x 3 columns]

In [35]:
df[df.gender == "male"]

      age gender     bmi  children smoker     region      charges
1      18   male  33.770         1     no  southeast   1725.55230
2      28   male  33.000         3     no  southeast   4449.46200
3      33   male  22.705         0     no  northwest  21984.47061
4      32   male  28.880         0     no  northwest   3866.85520
8      37   male  29.830         2     no  northeast   6406.41070
10     25   male  26.220         0     no  northeast   2721.32080
12     23   male  34.400         0     no  southwest   1826.84300
14     27   male  42.130         0    yes  southeast  39611.75770
15     19   male  24.600         1     no  southwest   1837.23700
17     23   male  23.845         0     no  northeast   2395.17155
18     56   male  40.300         0     no  southwest  10602.38500
19     30   male  35.300         0    yes  southwest  36837.46700
22     18   male  34.100         0     no  southeast   1137.01100
24     37   male  28.025         2     no  northwest   6203.90175
28     23   male  17.385         1     no  northwest   2775.19215
29     31   male  36.300         2    yes  southwest  38711.00000
30     22   male  35.600         0    yes  southwest  35585.57600
33     63   male  28.310         0     no  northwest  13770.09790
34     28   male  36.400         1    yes  southwest  51194.55914
35     19   male  20.425         0     no  northwest   1625.43375
37     26   male  20.800         0     no  southwest   2302.30000
38     35   male  36.670         1    yes  northeast  39774.27630
39     60   male  39.900         0    yes  southwest  48173.36100
42     41   male  21.780         1     no  southeast   6272.47720
44     38   male  37.050         1     no  northeast   6079.67150
45     55   male  37.300         0     no  southwest  20630.28351
49     36   male  35.200         1    yes  southeast  38709.17600
52     48   male  28.000         1    yes  southwest  23568.27200
53     36   male  34.430         0    yes  southeast  37742.57570
55     58   male  36.955         2    yes  northwest  47496.49445
...   ...    ...     ...       ...    ...        ...          ...
1283   18   male  30.030         1     no  southeast   1720.35370
1284   61   male  36.300         1    yes  southwest  47403.88000
1288   20   male  39.400         2    yes  southwest  38344.56600
1289   44   male  34.320         1     no  southeast   7147.47280
1291   19   male  34.900         0    yes  southwest  34828.65400
1292   21   male  23.210         0     no  southeast   1515.34490
1293   46   male  25.745         3     no  northwest   9301.89355
1294   58   male  25.175         0     no  northeast  11931.12525
1295   20   male  22.000         1     no  southwest   1964.78000
1296   18   male  26.125         0     no  northeast   1708.92575
1298   33   male  27.455         2     no  northwest   5261.46945
1300   45   male  30.360         0    yes  southeast  62592.87309
1301   62   male  30.875         3    yes  northwest  46718.16325
1303   43   male  27.800         0    yes  southwest  37829.72420
1304   42   male  24.605         2    yes  northeast  21259.37795
1307   32   male  28.120         4    yes  northwest  21472.47880
1309   41   male  32.200         2     no  southwest   6875.96100
1310   42   male  26.315         1     no  northwest   6940.90985
1312   34   male  42.900         1     no  southwest   4536.25900
1315   18   male  28.310         1     no  northeast  11272.33139
1317   18   male  53.130         0     no  southeast   1163.46270
1318   35   male  39.710         4     no  northeast  19496.71917
1320   31   male  31.065         3     no  northwest   5425.02335
1321   62   male  26.695         0    yes  northeast  28101.33305
1322   62   male  38.830         0     no  southeast  12981.34570
1324   31   male  25.935         1     no  northwest   4239.89265
1325   61   male  33.535         0     no  northeast  13143.33665
1327   51   male  30.030         1     no  southeast   9377.90470
1329   52   male  38.600         2     no  southwest  10325.20600
1333   50   male  30.970         3     no  northwest  10600.54830

[676 rows x 7 columns]

In [36]:
df.query("gender == 'male'")

      age gender     bmi  children smoker     region      charges
1      18   male  33.770         1     no  southeast   1725.55230
2      28   male  33.000         3     no  southeast   4449.46200
3      33   male  22.705         0     no  northwest  21984.47061
4      32   male  28.880         0     no  northwest   3866.85520
8      37   male  29.830         2     no  northeast   6406.41070
10     25   male  26.220         0     no  northeast   2721.32080
12     23   male  34.400         0     no  southwest   1826.84300
14     27   male  42.130         0    yes  southeast  39611.75770
15     19   male  24.600         1     no  southwest   1837.23700
17     23   male  23.845         0     no  northeast   2395.17155
18     56   male  40.300         0     no  southwest  10602.38500
19     30   male  35.300         0    yes  southwest  36837.46700
22     18   male  34.100         0     no  southeast   1137.01100
24     37   male  28.025         2     no  northwest   6203.90175
28     23   male  17.385         1     no  northwest   2775.19215
29     31   male  36.300         2    yes  southwest  38711.00000
30     22   male  35.600         0    yes  southwest  35585.57600
33     63   male  28.310         0     no  northwest  13770.09790
34     28   male  36.400         1    yes  southwest  51194.55914
35     19   male  20.425         0     no  northwest   1625.43375
37     26   male  20.800         0     no  southwest   2302.30000
38     35   male  36.670         1    yes  northeast  39774.27630
39     60   male  39.900         0    yes  southwest  48173.36100
42     41   male  21.780         1     no  southeast   6272.47720
44     38   male  37.050         1     no  northeast   6079.67150
45     55   male  37.300         0     no  southwest  20630.28351
49     36   male  35.200         1    yes  southeast  38709.17600
52     48   male  28.000         1    yes  southwest  23568.27200
53     36   male  34.430         0    yes  southeast  37742.57570
55     58   male  36.955         2    yes  northwest  47496.49445
...   ...    ...     ...       ...    ...        ...          ...
1283   18   male  30.030         1     no  southeast   1720.35370
1284   61   male  36.300         1    yes  southwest  47403.88000
1288   20   male  39.400         2    yes  southwest  38344.56600
1289   44   male  34.320         1     no  southeast   7147.47280
1291   19   male  34.900         0    yes  southwest  34828.65400
1292   21   male  23.210         0     no  southeast   1515.34490
1293   46   male  25.745         3     no  northwest   9301.89355
1294   58   male  25.175         0     no  northeast  11931.12525
1295   20   male  22.000         1     no  southwest   1964.78000
1296   18   male  26.125         0     no  northeast   1708.92575
1298   33   male  27.455         2     no  northwest   5261.46945
1300   45   male  30.360         0    yes  southeast  62592.87309
1301   62   male  30.875         3    yes  northwest  46718.16325
1303   43   male  27.800         0    yes  southwest  37829.72420
1304   42   male  24.605         2    yes  northeast  21259.37795
1307   32   male  28.120         4    yes  northwest  21472.47880
1309   41   male  32.200         2     no  southwest   6875.96100
1310   42   male  26.315         1     no  northwest   6940.90985
1312   34   male  42.900         1     no  southwest   4536.25900
1315   18   male  28.310         1     no  northeast  11272.33139
1317   18   male  53.130         0     no  southeast   1163.46270
1318   35   male  39.710         4     no  northeast  19496.71917
1320   31   male  31.065         3     no  northwest   5425.02335
1321   62   male  26.695         0    yes  northeast  28101.33305
1322   62   male  38.830         0     no  southeast  12981.34570
1324   31   male  25.935         1     no  northwest   4239.89265
1325   61   male  33.535         0     no  northeast  13143.33665
1327   51   male  30.030         1     no  southeast   9377.90470
1329   52   male  38.600         2     no  southwest  10325.20600
1333   50   male  30.970         3     no  northwest  10600.54830

[676 rows x 7 columns]

In [38]:
df.groupby("gender").age.mean()

gender
female    39.503021
male      38.917160
Name: age, dtype: float64

In [39]:
df.groupby("gender").age.agg(["mean", "count"])

             mean  count
gender
female  39.503021    662
male    38.917160    676

In [40]:
df.groupby("gender").agg({"age": ["mean", "count"], "bmi": ["mean", "count"]})

              age              bmi
             mean count       mean count
gender
female  39.503021   662  30.377749   662
male    38.917160   676  30.943129   676

In [42]:
df.sort_values("bmi")

      age  gender     bmi  children smoker     region      charges
172    18    male  15.960         0     no  northeast   1694.79640
428    21  female  16.815         1     no  northeast   3167.45585
1226   38    male  16.815         2     no  northeast   6640.54485
412    26  female  17.195         2    yes  northeast  14455.64405
1286   28  female  17.290         0     no  northeast   3732.62510
1029   37  female  17.290         2     no  northeast   6877.98010
250    18    male  17.290         2    yes  northeast  12829.45510
28     23    male  17.385         1     no  northwest   2775.19215
680    21  female  17.400         1     no  southwest   2585.26900
410    19    male  17.480         0     no  northwest   1621.34020
821    26    male  17.670         0     no  northwest   2680.94930
128    32  female  17.765         2    yes  northwest  32734.18630
232    19  female  17.800         0     no  southwest   1727.78500
1205   35    male  17.860         1     no  northwest   5116.50040
380    27  female  17.955         2    yes  northeast  15006.57945
198    51  female  18.050         0     no  northwest   9644.25250
1085   39  female  18.300         5    yes  southwest  19023.26000
1074   60  female  18.335         0     no  northeast  13204.28565
1133   52  female  18.335         0     no  northwest   9991.03765
950    57    male  18.335         0     no  northeast  11534.87265
684    33  female  18.500         1     no  southwest   4766.02200
1129   19  female  18.600         0     no  southwest   1728.89700
1027   23    male  18.715         0     no  northwest  21595.38229
169    27    male  18.905         3     no  northeast   4827.90495
613    34  female  19.000         3     no  northeast   6753.03800
1100   33  female  19.095         2    yes  northeast  16776.30405
1004   47    male  19.190         1     no  northeast   8627.54110
99     38    male  19.300         0    yes  southwest  15820.69900
769    38  female  19.475         2     no  northwest   6933.24225
591    47    male  19.570         1     no  northwest   8428.06930
...   ...     ...     ...       ...    ...        ...          ...
867    57    male  43.700         1     no  southwest  11576.13000
356    46    male  43.890         3     no  southeast   8944.11510
674    44  female  43.890         2    yes  southeast  46200.98510
895    61  female  44.000         0     no  southwest  13063.88300
796    30    male  44.220         2     no  southeast   4266.16580
521    32  female  44.220         0     no  southeast   3994.17780
1332   52  female  44.700         3     no  southwest  11411.68500
701    50  female  44.745         0     no  northeast   9541.69555
563    50    male  44.770         1     no  southeast   9058.73030
1156   19    male  44.880         0    yes  southeast  39722.74620
1024   47  female  45.320         1     no  southeast   8569.86180
582    39    male  45.430         2     no  southeast   6356.27070
292    25    male  45.540         2    yes  southeast  42112.23560
1131   27    male  45.900         2     no  southwest   3693.42800
941    50  female  46.090         1     no  southeast   9549.56510
549    43  female  46.200         0    yes  southeast  45863.20500
454    32    male  46.530         2     no  southeast   4686.38870
660    37    male  46.530         3     no  southeast   6435.62370
930    26    male  46.530         1     no  southeast   2927.06470
547    54  female  46.700         2     no  southwest  11538.42100
438    52  female  46.750         5     no  southeast  12592.53450
543    54  female  47.410         0    yes  southeast  63770.42801
401    47    male  47.520         1     no  southeast   8083.91980
860    37  female  47.600         2    yes  southwest  46113.51100
1088   52    male  47.740         1     no  southeast   9748.91060
286    46  female  48.070         2     no  northeast   9432.92530
116    58    male  49.060         0     no  southeast  11381.32540
847    23    male  50.380         1     no  southeast   2438.05520
1047   22    male  52.580         1    yes  southeast  44501.39820
1317   18    male  53.130         0     no  southeast   1163.46270

[1338 rows x 7 columns]

In [43]:
df.sort_values("bmi", ascending = False)

      age  gender     bmi  children smoker     region      charges
1317   18    male  53.130         0     no  southeast   1163.46270
1047   22    male  52.580         1    yes  southeast  44501.39820
847    23    male  50.380         1     no  southeast   2438.05520
116    58    male  49.060         0     no  southeast  11381.32540
286    46  female  48.070         2     no  northeast   9432.92530
1088   52    male  47.740         1     no  southeast   9748.91060
860    37  female  47.600         2    yes  southwest  46113.51100
401    47    male  47.520         1     no  southeast   8083.91980
543    54  female  47.410         0    yes  southeast  63770.42801
438    52  female  46.750         5     no  southeast  12592.53450
547    54  female  46.700         2     no  southwest  11538.42100
454    32    male  46.530         2     no  southeast   4686.38870
930    26    male  46.530         1     no  southeast   2927.06470
660    37    male  46.530         3     no  southeast   6435.62370
549    43  female  46.200         0    yes  southeast  45863.20500
941    50  female  46.090         1     no  southeast   9549.56510
1131   27    male  45.900         2     no  southwest   3693.42800
292    25    male  45.540         2    yes  southeast  42112.23560
582    39    male  45.430         2     no  southeast   6356.27070
1024   47  female  45.320         1     no  southeast   8569.86180
1156   19    male  44.880         0    yes  southeast  39722.74620
563    50    male  44.770         1     no  southeast   9058.73030
701    50  female  44.745         0     no  northeast   9541.69555
1332   52  female  44.700         3     no  southwest  11411.68500
796    30    male  44.220         2     no  southeast   4266.16580
521    32  female  44.220         0     no  southeast   3994.17780
895    61  female  44.000         0     no  southwest  13063.88300
356    46    male  43.890         3     no  southeast   8944.11510
674    44  female  43.890         2    yes  southeast  46200.98510
867    57    male  43.700         1     no  southwest  11576.13000
...   ...     ...     ...       ...    ...        ...          ...
591    47    male  19.570         1     no  northwest   8428.06930
769    38  female  19.475         2     no  northwest   6933.24225
99     38    male  19.300         0    yes  southwest  15820.69900
1004   47    male  19.190         1     no  northeast   8627.54110
1100   33  female  19.095         2    yes  northeast  16776.30405
613    34  female  19.000         3     no  northeast   6753.03800
169    27    male  18.905         3     no  northeast   4827.90495
1027   23    male  18.715         0     no  northwest  21595.38229
1129   19  female  18.600         0     no  southwest   1728.89700
684    33  female  18.500         1     no  southwest   4766.02200
950    57    male  18.335         0     no  northeast  11534.87265
1133   52  female  18.335         0     no  northwest   9991.03765
1074   60  female  18.335         0     no  northeast  13204.28565
1085   39  female  18.300         5    yes  southwest  19023.26000
198    51  female  18.050         0     no  northwest   9644.25250
380    27  female  17.955         2    yes  northeast  15006.57945
1205   35    male  17.860         1     no  northwest   5116.50040
232    19  female  17.800         0     no  southwest   1727.78500
128    32  female  17.765         2    yes  northwest  32734.18630
821    26    male  17.670         0     no  northwest   2680.94930
410    19    male  17.480         0     no  northwest   1621.34020
680    21  female  17.400         1     no  southwest   2585.26900
28     23    male  17.385         1     no  northwest   2775.19215
250    18    male  17.290         2    yes  northeast  12829.45510
1029   37  female  17.290         2     no  northeast   6877.98010
1286   28  female  17.290         0     no  northeast   3732.62510
412    26  female  17.195         2    yes  northeast  14455.64405
1226   38    male  16.815         2     no  northeast   6640.54485
428    21  female  16.815         1     no  northeast   3167.45585
172    18    male  15.960         0     no  northeast   1694.79640

[1338 rows x 7 columns]

In [45]:
import numpy as np

In [46]:
np.percentile(df.bmi, [90])

array([38.6195])

In [47]:
df.bmi.mean(), df.bmi.median()

(30.663396860986538, 30.4)

In [50]:
a = np.array([3, 9, 1, 2, 10, 23, 1])
a

array([ 3,  9,  1,  2, 10, 23,  1])

In [51]:
sorted(a)

[1, 1, 2, 3, 9, 10, 23]

In [52]:
np.mean(a), np.median(a)

(7.0, 3.0)

In [54]:
a = np.array([3, 9, 1, 2, 10, 23, 1,1000])
np.mean(a), np.median(a) # median is robust statistic

(131.125, 6.0)

In [55]:
pd.merge?