In [53]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, cluster

In [2]:
sns = pd.read_csv("https://raw.githubusercontent.com/abulbasar/data/master/snsdata.csv")

In [3]:
sns.head()

,gradyear,gender,age,friends,basketball,football,soccer,softball,volleyball,swimming,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
0,2006,M,18.982,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2006,F,18.801,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2006,M,18.335,69,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2006,F,18.875,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2006,NaN,18.995,10,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1

In [7]:
X = sns.iloc[:, 4:]
X.head()

,basketball,football,soccer,softball,volleyball,swimming,cheerleading,baseball,tennis,sports,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1

In [24]:
scaler = preprocessing.StandardScaler()
X_std = scaler.fit_transform(X) # Calculates z_score

# Z_score = (x - mean(x))/std(x), for every feature x.
# Goal of Z-score is to get mean = 0 and std = 1 for every feature

pd.DataFrame(X_std).describe()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
count,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,...,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04
mean,2.704052e-14,-2.330839e-16,1.003252e-14,4.090942e-15,1.402178e-14,1.550438e-15,-1.042129e-16,-2.791499e-15,8.804790e-16,-3.902316e-15,...,-9.736022e-16,-2.112029e-14,-1.183242e-14,-1.432802e-14,-3.393087e-14,-1.677602e-14,-3.443779e-15,-3.203401e-16,1.261689e-15,-1.083258e-15
std,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,...,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00
min,-3.322173e-01,-3.576974e-01,-2.428741e-01,-2.179278e-01,-2.236696e-01,-2.599706e-01,-2.073271e-01,-2.011306e-01,-1.689389e-01,-2.971234e-01,...,-5.093652e-02,-3.699147e-01,-4.873142e-01,-3.141979e-01,-2.014763e-01,-1.830317e-01,-2.947932e-01,-2.615302e-01,-2.204026e-01,-1.749076e-01
25%,-3.322173e-01,-3.576974e-01,-2.428741e-01,-2.179278e-01,-2.236696e-01,-2.599706e-01,-2.073271e-01,-2.011306e-01,-1.689389e-01,-2.971234e-01,...,-5.093652e-02,-3.699147e-01,-4.873142e-01,-3.141979e-01,-2.014763e-01,-1.830317e-01,-2.947932e-01,-2.615302e-01,-2.204026e-01,-1.749076e-01
50%,-3.322173e-01,-3.576974e-01,-2.428741e-01,-2.179278e-01,-2.236696e-01,-2.599706e-01,-2.073271e-01,-2.011306e-01,-1.689389e-01,-2.971234e-01,...,-5.093652e-02,-3.699147e-01,-4.873142e-01,-3.141979e-01,-2.014763e-01,-1.830317e-01,-2.947932e-01,-2.615302e-01,-2.204026e-01,-1.749076e-01
75%,-3.322173e-01,-3.576974e-01,-2.428741e-01,-2.179278e-01,-2.236696e-01,-2.599706e-01,-2.073271e-01,-2.011306e-01,-1.689389e-01,-2.971234e-01,...,-5.093652e-02,-3.699147e-01,8.931794e-01,-3.141979e-01,-2.014763e-01,-1.830317e-01,-2.947932e-01,-2.615302e-01,-2.204026e-01,-1.749076e-01
max,2.949277e+01,2.090850e+01,2.919421e+01,2.276453e+01,2.165366e+01,5.970348e+01,1.729137e+01,3.046682e+01,2.884728e+01,2.517666e+01,...,1.683073e+02,1.687776e+01,1.469812e+01,1.661229e+01,2.575205e+01,2.843431e+01,3.493308e+01,3.179061e+01,1.982379e+01,4.613268e+01

In [25]:
X_std.shape

(30000, 36)

In [26]:
kmeans = cluster.KMeans(n_clusters=5, random_state=1)
y_pred = kmeans.fit_predict(X_std)

In [27]:
y_pred

array([3, 1, 3, ..., 3, 3, 3], dtype=int32)

In [28]:
kmeans.cluster_centers_.shape

(5, 36)

In [59]:
clusters = pd.DataFrame(kmeans.cluster_centers_)
clusters

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,-0.109710,0.034298,-0.074222,-0.005508,-0.080917,0.046314,-0.112599,-0.105410,0.014842,-0.100614,...,-0.013937,-0.096809,-0.061900,0.013096,-0.152302,-0.148175,-0.015888,0.031273,-0.086124,-0.083251
1,0.519296,0.495339,0.294700,0.369663,0.410555,0.314992,0.416664,0.319172,0.153520,0.284705,...,0.042928,0.589214,0.815907,0.446143,0.531726,0.498632,0.034507,0.114486,-0.004538,-0.062673
2,-0.332217,2.477795,-0.242874,-0.217928,-0.223670,1.674334,-0.207327,-0.201131,-0.168939,-0.297123,...,168.307291,-0.369915,-0.487314,1.801613,-0.201476,-0.183032,9.312807,13.475099,14.812744,-0.174908
3,-0.146406,-0.146538,-0.079174,-0.102195,-0.106879,-0.095073,-0.112364,-0.091225,-0.045388,-0.111123,...,-0.028208,-0.178728,-0.221194,-0.180103,-0.150916,-0.145753,-0.090320,-0.076393,-0.084021,-0.110701
4,0.360640,0.377102,0.135460,0.163164,0.103919,0.259410,0.205468,0.274209,0.114062,0.842872,...,0.204425,0.640431,0.309456,1.312768,0.418486,0.480707,1.629298,0.906676,1.748703,2.587643

In [62]:
clusters["members"] = pd.Series(y_pred).value_counts().sort_index()
clusters.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,members
0,-0.109710,0.034298,-0.074222,-0.005508,-0.080917,0.046314,-0.112599,-0.105410,0.014842,-0.100614,...,-0.096809,-0.061900,0.013096,-0.152302,-0.148175,-0.015888,0.031273,-0.086124,-0.083251,821
1,0.519296,0.495339,0.294700,0.369663,0.410555,0.314992,0.416664,0.319172,0.153520,0.284705,...,0.589214,0.815907,0.446143,0.531726,0.498632,0.034507,0.114486,-0.004538,-0.062673,5699
2,-0.332217,2.477795,-0.242874,-0.217928,-0.223670,1.674334,-0.207327,-0.201131,-0.168939,-0.297123,...,-0.369915,-0.487314,1.801613,-0.201476,-0.183032,9.312807,13.475099,14.812744,-0.174908,1
3,-0.146406,-0.146538,-0.079174,-0.102195,-0.106879,-0.095073,-0.112364,-0.091225,-0.045388,-0.111123,...,-0.178728,-0.221194,-0.180103,-0.150916,-0.145753,-0.090320,-0.076393,-0.084021,-0.110701,22358
4,0.360640,0.377102,0.135460,0.163164,0.103919,0.259410,0.205468,0.274209,0.114062,0.842872,...,0.640431,0.309456,1.312768,0.418486,0.480707,1.629298,0.906676,1.748703,2.587643,1121

In [30]:
X_std[y_pred == 0].mean(axis = 0).shape

(36,)

In [41]:
group_0 = pd.Series(scaler.inverse_transform(kmeans.cluster_centers_[0]))
group_0.index = X.columns
group_0.sort_values(ascending = False).iloc[:10]

band        4.076736
marching    1.353228
music       1.228989
god         0.573691
dance       0.466504
hair        0.375152
rock        0.371498
shopping    0.308161
church      0.294762
cute        0.293544
dtype: float64

In [42]:
group_4 = pd.Series(scaler.inverse_transform(kmeans.cluster_centers_[4]))
group_4.index = X.columns
group_4.sort_values(ascending = False).iloc[:10]

hair      3.253345
sex       2.408564
music     2.226583
kissed    1.577163
die       1.201606
rock      1.095450
god       1.006244
dance     1.001784
drugs     0.954505
drunk     0.785905
dtype: float64

In [43]:
group_1 = pd.Series(scaler.inverse_transform(kmeans.cluster_centers_[1]))
group_1.index = X.columns
group_1.sort_values(ascending = False).iloc[:10]

music         1.033515
dance         0.985085
shopping      0.944025
god           0.868573
cute          0.802246
hair          0.729777
basketball    0.685208
mall          0.667310
church        0.659940
football      0.601685
dtype: float64

In [44]:
sns["cluster"] = y_pred

In [47]:
sns.groupby(["cluster", "gender"]).gradyear.count().unstack()

gender         F       M
cluster
0          601.0   172.0
1         4862.0   472.0
2            1.0     NaN
3        15680.0  4429.0
4          910.0   149.0

In [49]:
sns.gender.value_counts()/len(sns)

F    0.735133
M    0.174067
Name: gender, dtype: float64

In [50]:
kmeans.inertia_

938685.206652805

In [67]:
clusters["avg_distance"] = np.zeros([5])
for i in range(5):
    gr = X_std[y_pred == i]
    center = kmeans.cluster_centers_[i]
    distances = np.sqrt(np.sum((gr - center) ** 2, axis = 1)) # Euclean distance
    print("cluster", i, ":", np.mean(distances))
    clusters.loc[i, "avg_distance"] = np.mean(distances)
clusters.head()

cluster 0 : 6.069069618940192
cluster 1 : 7.939752268310205
cluster 2 : 0.0
cluster 3 : 3.0937264953857633
cluster 4 : 10.619431347522829

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,members,avg_distance
0,-0.109710,0.034298,-0.074222,-0.005508,-0.080917,0.046314,-0.112599,-0.105410,0.014842,-0.100614,...,-0.061900,0.013096,-0.152302,-0.148175,-0.015888,0.031273,-0.086124,-0.083251,821,6.069070
1,0.519296,0.495339,0.294700,0.369663,0.410555,0.314992,0.416664,0.319172,0.153520,0.284705,...,0.815907,0.446143,0.531726,0.498632,0.034507,0.114486,-0.004538,-0.062673,5699,7.939752
2,-0.332217,2.477795,-0.242874,-0.217928,-0.223670,1.674334,-0.207327,-0.201131,-0.168939,-0.297123,...,-0.487314,1.801613,-0.201476,-0.183032,9.312807,13.475099,14.812744,-0.174908,1,0.000000
3,-0.146406,-0.146538,-0.079174,-0.102195,-0.106879,-0.095073,-0.112364,-0.091225,-0.045388,-0.111123,...,-0.221194,-0.180103,-0.150916,-0.145753,-0.090320,-0.076393,-0.084021,-0.110701,22358,3.093726
4,0.360640,0.377102,0.135460,0.163164,0.103919,0.259410,0.205468,0.274209,0.114062,0.842872,...,0.309456,1.312768,0.418486,0.480707,1.629298,0.906676,1.748703,2.587643,1121,10.619431