In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("/data/movielens/movies.csv")

In [3]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cit√© des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
...,...,...,...
10299,140816,Tangerine (2015),Comedy|Drama
10300,140820,Air (2015),Sci-Fi|Thriller
10301,141305,Round Trip to Heaven (1992),(no genres listed)
10302,141432,Sweet Red Bean Paste (2015),Drama
10303,141472,The 50 Year Argument (2014),(no genres listed)
10304,141688,Legend (2015),Crime|Thriller
10305,142074,Knock Knock (2015),Horror|Thriller
10306,142448,Everest (2015),Adventure|Drama|Thriller
10307,142488,Spotlight (2015),Thriller
10308,142507,Pawn Sacrifice (2015),Drama
10309,142536,Burnt (2015),Drama
10310,142550,Ryuzo and the Seven Henchmen (2015),Action|Comedy
10311,142562,The Ceremony (2014),Documentary
10312,142566,Sarusuberi: Miss Hokusai (2015),Animation
10313,142973,Ice and the Sky (2015),Documentary
10314,143031,Jump In! (2007),Comedy|Drama|Romance
10315,143257,Ashby (2015),Comedy|Drama
10316,143385,Bridge of Spies (2015),Drama|Thriller
10317,143709,The Take (2009),(no genres listed)
10318,143882,Operator (2015),Action|Drama|Thriller
10319,144482,Circle (2015),Drama|Horror|Sci-Fi
10320,144656,The Measure of a Man (2015),Drama
10321,144976,Bone Tomahawk (2015),Horror|Western
10322,146344,El√§m√§lt√§ kaiken sain,Comedy|Drama
10323,146656,Creed (2015),Drama
10324,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy
10325,146878,Le Grand Restaurant (1966),Comedy
10326,148238,A Very Murray Christmas (2015),Comedy
10327,148626,The Big Short (2015),Drama
10328,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed)

In [8]:
gf = movies[movies.title.str.contains("Godfather")]
gf

      movieId                            title                        genres
695       858            Godfather, The (1972)                   Crime|Drama
982      1221   Godfather: Part II, The (1974)                   Crime|Drama
1585     2023  Godfather: Part III, The (1990)  Crime|Drama|Mystery|Thriller
5706     8607          Tokyo Godfathers (2003)     Adventure|Animation|Drama

In [29]:
movies[movies.movieId.isin(gf.movieId.values)]

      movieId                            title                        genres
695       858            Godfather, The (1972)                   Crime|Drama
982      1221   Godfather: Part II, The (1974)                   Crime|Drama
1585     2023  Godfather: Part III, The (1990)  Crime|Drama|Mystery|Thriller
5706     8607          Tokyo Godfathers (2003)     Adventure|Animation|Drama

In [21]:
gf.movieId.values[0]

858

In [12]:
gf.loc[695, :]

movieId                      858
title      Godfather, The (1972)
genres               Crime|Drama
Name: 695, dtype: object

In [18]:
movies.query("movieId == 858")

     movieId                  title       genres
695      858  Godfather, The (1972)  Crime|Drama

In [15]:
movies.loc[695, :]

movieId                      858
title      Godfather, The (1972)
genres               Crime|Drama
Name: 695, dtype: object

In [22]:
movies.iloc[690:700, :]

,movieId,title,genres
690,849,Escape from L.A. (1996),Action|Adventure|Sci-Fi|Thriller
691,850,Cyclo (Xich lo) (1995),Crime|Drama
692,851,Basquiat (1996),Drama
693,852,Tin Cup (1996),Comedy|Drama|Romance
694,854,"Ballad of Narayama, The (Narayama Bushiko) (1958)",Drama
695,858,"Godfather, The (1972)",Crime|Drama
696,861,Supercop (Police Story 3: Supercop) (Jing cha ...,Action|Comedy|Crime|Thriller
697,862,Manny & Lo (1996),Drama
698,865,Small Faces (1996),Drama
699,866,Bound (1996),Crime|Drama|Romance|Thriller

In [23]:
ratings = pd.read_csv("/data/movielens/ratings.csv")

In [31]:
rating_for_858 = ratings[ratings.movieId == 858]
rating_for_858

       userId  movieId  rating   timestamp
35          1      858     5.0  1217896428
230         4      858     5.0   950322891
496         7      858     3.5  1322058410
1168       17      858     1.0  1359557489
1845       23      858     4.0  1420797710
1936       24      858     5.0   963470071
2697       29      858     2.0   846943018
2774       30      858     4.0  1292689240
2945       32      858     5.0   903226590
3185       33      858     5.0  1009740308
3327       35      858     5.0   860344420
3373       37      858     5.0  1113691037
4059       44      858     2.0  1225239269
4255       45      858     5.0  1149373564
4317       46      858     5.0   954566602
4461       47      858     5.0   860001960
4545       50      858     4.0   904743798
4711       53      858     4.0  1285957094
4786       54      858     5.0  1146935071
4994       56      858     5.0  1007676816
5139       59      858     3.5  1439608181
5399       61      858     4.5  1058833999
5705       62      858     3.0  1268781090
6650       63      858     3.5  1299505638
8230       69      858     5.0  1121089127
8823       72      858     5.0   877801265
9201       79      858     4.0  1227242462
9287       80      858     5.0  1253152981
9507       84      858     4.5  1437309612
9568       85      858     5.0  1400699805
...       ...      ...     ...         ...
86469     579      858     3.0   881063938
86892     583      858     5.0   978425754
87598     588      858     5.0   993876348
87807     589      858     5.0  1420582691
88524     591      858     4.5  1271096910
88611     592      858     5.0  1447968467
88732     594      858     4.5  1163478567
88928     597      858     5.0   965788155
89357     599      858     4.0  1424812304
89827     600      858     5.0  1025322129
90363     601      858     4.0   938946734
90705     603      858     4.0   857569325
90897     604      858     5.0  1448883003
91017     605      858     5.0   955377188
92722     610      858     4.0  1303104567
92863     611      858     5.0  1368127443
93365     615      858     5.0   955125036
93927     619      858     4.0  1445257097
94130     620      858     4.0  1024538229
95015     627      858     5.0  1237930742
95981     628      858     5.0  1112468049
96440     633      858     4.5  1134972372
96891     639      858     4.0  1418517549
96944     640      858     4.0   860492343
97297     644      858     5.0   868190225
98535     659      858     3.5  1394644945
98858     661      858     4.0   866410959
98930     662      858     5.0   945176275
99386     666      858     2.0  1021279194
99975     668      858     5.0  1025846365

[210 rows x 4 columns]

In [34]:
rating_for_858.shape[0]

210

In [35]:
rating_for_858.rating.mean()

4.392857142857143

In [42]:
top10 = (ratings
 .groupby("movieId")
 .rating
 .agg(["count", "mean"])
 .query("count >= 100")
 .sort_values("mean", ascending = False)
 .iloc[:10, :]
)
top10

         count      mean
movieId
318        308  4.454545
858        210  4.392857
50         228  4.328947
1136       154  4.301948
527        248  4.296371
1193       143  4.272727
608        201  4.271144
2571       261  4.264368
1221       140  4.260714
1213       135  4.259259

In [47]:
top10.merge(movies, right_on= "movieId", left_index=True)[["title", "movieId", "mean"]]

                                       title  movieId      mean
279         Shawshank Redemption, The (1994)      318  4.454545
695                    Godfather, The (1972)      858  4.392857
47                Usual Suspects, The (1995)       50  4.328947
922   Monty Python and the Holy Grail (1975)     1136  4.301948
471                  Schindler's List (1993)      527  4.296371
956   One Flew Over the Cuckoo's Nest (1975)     1193  4.272727
537                             Fargo (1996)      608  4.271144
2056                      Matrix, The (1999)     2571  4.264368
982           Godfather: Part II, The (1974)     1221  4.260714
974                        Goodfellas (1990)     1213  4.259259